
body{
    background-color: rgb(32, 32, 32);

}

p{
    margin: 5px;
}

/*-----HEADER-----*/
/*-----HEADER-----*/
/*-----HEADER-----*/
.flex-container{
    display: flex;
}

header{
    background-color: rgb(43, 226, 98);
    text-align: center;
    line-height: 25px;
    width: 100%;
    height: 100px;
    padding-bottom: 15PX;
}

nav{
    background-color: blueviolet;
    margin-bottom: -20px;
    height: 30px;
    padding-top: 5px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
ul li{
    flex-wrap: nowrap;
    width: 300px;
    gap: 5%;
    margin-left: 0;
    margin-right: 0;
}
.base{
    align-items: baseline;
}

.barra2{
    font-size: 25px;
    color: white;
    line-height: 50px;
}

.socialtop{
    margin-left: 8%;
}

/*¨¨¨¨¨¨¨¨¨¨¨MAIN¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
/*¨¨¨¨¨¨¨¨¨¨¨MAIN¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/
/*¨¨¨¨¨¨¨¨¨¨¨MAIN¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

main{
    display: flex;
    
    flex-direction: column;
    background-color: orange;
    border: 2px solid black;
    width: 70%;
    height: auto;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
    margin: 15px;
}

article{
    flex-direction: row;
    justify-content: space-evenly;
    text-align: right;
    background-color: aqua;
    width: 90%;
    height: auto;
    padding-bottom: 5PX;
    margin-bottom: 15px;
    margin-top: 1.5%;
    margin-right: 1%;
    margin-left: 1%;
}

.pokelinha{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border: 3px solid orange;
    height: 25%;
}

.pokecard{
    flex: 0;
    align-items: center;
    background-color: rgb(79, 176, 255);
    height: 170px;
    margin: 2%;
    padding-left: 2%;
    padding-right:2%;
    border-radius: 10px;
    border: 2px solid blue;
    box-shadow: 0px 0px 5px 5px rgb(9, 9, 75);
}

.pokecard img{

    border-radius: 10px;
}

.btn{

    text-align: center;
    background-color: yellow;
    border: 4px solid white;
    border-radius: 15px;
    padding: 7%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 10%;
    text-decoration: none;
}

.prox-box{
    display: flex;
    justify-content: center;
}

.prox-item{
    padding: 5px;
    margin: 3px;
    background-color: blueviolet;
    border: 2px solid black;
}


/*-------------------ASIDE-----*/
/*-------------------ASIDE-----*/
/*-------------------ASIDE-----*/
aside{
    text-align: center;
    display: flex;
    gap: 10%;
    align-self: center;
    flex-direction: column;
    background-color: aquamarine;
    border: 8px solid orange;
    width: 30%;
    height: 100%;
    margin-left: 7px;
    margin-right: 15px;

    padding-top: 1%;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;    

}

section{
    align-self: center;
    width: 100%;
    height: 31%;
    text-align: right;
    padding: 10px;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: rgb(205, 255, 25);
}

.pokeover{
    background-image: url("greninja.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/*..............FOOTER...................*/
/*..............FOOTER...................*/
/*..............FOOTER...................*/

footer{
    background-color: blueviolet;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 97%;
    height: auto;
}

.social{
    margin-left: 50%;
}

.redes{
    width: 35px;
    height: 35px;
}

/*_________TABELA______________*/
/*_________TABELA______________*/
/*_________TABELA______________*/
table{
    display: flex;
    flex-wrap: nowrap;

    flex-shrink: 2;
    color: white;    
    margin-left: 10%;
    background-color: rgb(11, 122, 30);
    flex-direction: column;
    border: 7px solid rgb(32, 32, 32);
    box-shadow: 0px 0px 5px 5px rgb(54, 0, 50);

}

th{
    
    font-size: 12px;
    background-color: rgb(8, 5, 133);
    text-align: left;
    border: 10px solid rgb(32, 32, 32);
}

.thmenor{

}

td{
    width: 100%;
    text-align: right;
    border: 5px solid rgb(32, 32, 32);;
    background-color: violet;
}
.pokemon3{
    background-image: url("frogadier.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
}

.bottom{
    line-height: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.grid {
    grid-template-columns: 33% 33%;
    grid-template-rows: 33% 33%;
}

